.container{
padding: 5px;
width: 700px;

height: auto;
margin : 75px auto auto;
}

form button{
width:100%;
}

#titre{
    text-align: center;
    margin-top: 60px;
     
}       
        
.header {  
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: black; 
    z-index: 4;
}
          
.name {	
    font-size : 30px;
    font-style: italic;
    font-weight: bold;
}
.cont{
    padding: 5px;
    width: 900px;
    height: auto;
    margin : 50px auto auto;
}

tr{
    text-align: center;
}
#result{
    width: 30px;
}
.admin{
    margin-top:80px;
}
        
header .Deconnexion{
    float:right;
    margin-top:-2px;
    padding-right:10px;
}

.Deconnexion input{
    color:white;
    width:100%;
    display: inline-block;
    text-align: center;
    font-size : 15px;
}